<html>
    <head>
        <title>Pfa</title>
        <script src="http://localhost:8000/js/libraries.js"></script>
        <script src="http://localhost:8000/js/design.js"></script>
        <link rel="stylesheet" type="text/css" href="http://localhost:8000/css/design.css">
    </head>
    <body>

        <div class="container-fluid">
            <div class="alert alert-primary" role="alert">
                A simple primary alert—check it out!
            </div>
        </div>

        <form enctype="multipart/form-data" action="?analyze=true" method="POST">
            <input name="pfafile" type="file">
            <input type="submit" value="Analyze File">
        </form>

        <div id="app">
            <hr>

            <input v-model="message" placeholder="edit me">
            <p>Message is: {{ message }}</p>

            <input id="file" ref="file" type="file" v-on:change="handleFileUpload()">

            <button id="btn1" href="#" @click.prevent="send()">Send</button>
        </div>

        <script src="js/pfa.js"></script>
    </body>
</html>
